results/**
resources/**
logs/**
.snakemake
.snakemake/**
.test/results/*
.test/genome_browser/
workflow/notebooks/.ipynb_checkpoints/**
**/.Rhistory
**/*.Rproj
**/.Rproj.user/**
**/.RData
**/Rplots.pdf
*.log
nohup.*